<html>
  <head>
    <title>Summary histograms for {{ run }}-{{ subrun }}</title>
  </head>
  <body>
    <h1>Summary histograms for subrun {{ run }}-{{ subrun }}</h1>

    <h2>Notes</h2>

    <h3>2D plots</h3>
    <ul>
      <li>The plots are rebinned as shown in their title.</li>
      <li>Color scales differ for each data tier.</li>
      <li>The rebinning performs an average and so changes the max/min values.</li>
      <li>Click image for higher resolution version.</li>
      <li>The "orig" plots are raw ADC (no noise filtering) and have
      their baselines subtracted.  Baselines are taken as the most
      common ADC value on a per channel basis.  The baseline
	vs. channel are shown on these plots.</li>
      <li>The "raw" plots are after noise filtering.
      <li>The "wiener" and "gauss" are after signal processing, with
      their name indicating the form of filter used.
    </ul>

    <h3>1D Channel summaries</h3>
    <ul>
      <li>Summarize the waveform for each channel</li>
      <li>max/min/sum is on the signed value (if the data tier is signed)</li>
      <li>absmax/absmin/abssum is the max/min/sum after absolute value</li>
    </ul>


    <h2>Plots</h2>

    <hr/>
    {% for tier in "orig raw wiener gauss".split() %}
    <h3>Data tier "{{ tier }}"</h3>
    
    <h4>{{ tier }}: Tick vs. Channel</h4>
    <center>
      <a href="{{ pngs[tier]["display"] }}"><img src="{{ pngs[tier]["thumb"] }}"></a>
    </center>

    <h4>{{ tier }}: Channel Summaries</h3>
    <center>
      <img src="{{ pngs[tier]["reduc"] }}">
    </center>

    <hr/>
    {% endfor %}
    
  </body>
</html>
