<html>
  <head>
    <title>Summary histograms for WCT NF + SP</title>
  </head>
  <body>
    <h1>Summary pages for WCT NF + SP</h1>

    <h2>Errors</h2>

    Any issue caught by the validation code will show between the two horizontal rules below:
<hr/>
{% for fname, content in source_contents.items()|sort -%}
{% if content -%}
<a href="{{ dat.errdat[fname].link }}">{{ dat.errdat[fname].desc }}</a>
<pre>
{{ fname }}
{{ content }}
</pre>
{% endif -%}
{% endfor -%}
<hr/>
    <h2>Links to detailed plots by file/event</h2>

{% for runsub, rsdat in dat.items()|sort -%}
    {% if runsub != "errdat" -%}
    <h3>Subrun {{ runsub }}</h3>
    <ol>
{% for event, evdat in rsdat.items() -%}
      <li> <a href="{{ evdat.event_html }}">Event {{ event }}</a></li>
{% endfor -%}
    </ol>
    {% endif -%}
{% endfor %}
    

  </body>
</html>
