<html>
  <head>
    <title>Summary event {{ run }}-{{ subrun }}-{{ event }}, processing chain {{ chain }}</title>
  </head>
  <body>
    <h1>Summary event {{ run }}-{{ subrun }}-{{ event }}, processing chain {{ chain }}</h1>

    <h2>Errors</h2>
    Any issue caught by the validation code will show between the two horizontal rules below:
<hr/>
{% for fname, contents in source_contents.iteritems() -%}
{% if contents -%}
    <h3>Errors found in {{ fname }}</h3>
<pre>
{{ contents }}
</pre>
{% endif -%}
{% endfor -%}
<hr/>
<h2>Detail Plots</h2>
<table>
{% for fname,mdat in mag.iteritems() -%}
<tr>
<td>{{ mdat.desc }}</td>
<td><a href="{{ mdat.summary_html }}">[summary plots]</a></td>
<td><a href="{{ fname }}">[Magnify file]</a></td>
<tr>
{% endfor -%}
</table>


</body>


</html>
